.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h h"
  "s m m";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
}

.header{
  grid-area: h;
  background-color: blue;
}
.header img{
  width: 60px;
}

.nav{
  grid-area: s;
  background-color: aqua;
  padding: 10px 0 10px 15px;
}

.main{
  grid-area: m;
  background-color: blueviolet;
}